name: Lint and Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        
      - name: docker-compose up
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
        run: docker compose up -d

      - name: connect
        run: docker exec form-checker_container sh
        
      - name: start lint
        run: flake8 form_checker | flake8 tests
        
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.MY_SECRET_FOR_FORM_CHECKER }}
        with:
          coverageCommand: pytest --cov=form_checker --cov-report xml
          debug: true
